<% if flash[:alert] %>
	<div class="alert alert-danger" role="alert">
		<%= flash[:alert] %>
	</div>
<% else %>
	<% if flash[:notice] %>
		<div class="alert alert-success" role="alert">
			<%= flash[:notice] %>
		</div>
	<% end %>
<% end %>
<div class="jumbotron">
	<h1 class="display-4">Bloggin App</h1>
	<p class="lead">Here you can view articles all over the world and be a part of the community</p>
	<hr class="my-4">
	<p>Lets SignIn and get started!!</p>
	<p class="lead">
		<%= link_to 'SignIn', new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>
